.projectManagerContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    /* border: solid red 1px; */
    /* padding: 20px; */
}
.left{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    /* justify-content: space-around; */
    position: relative;
    /* border: solid 1px blue;    */
}
.paragraph{
    margin-top: 20px;
    color: var(--text-color);
} 
.infoContainer{
    margin-top: 170px;
    width: 70%;
    max-width: 70%;
    height: fit-content;
    /* border: solid 1px red; */
}

.modelIU{
    width: 70%;
    height: max-content;
    display: flex;
    gap: 10px;
}

.imagesContainer{
    max-width: 100%;
    width: fit-content;
    height: max-content;
    display: flex;
    gap: 10px;
    overflow: hidden;
    overflow-x: scroll;
}

h3{
    color: var(--white-color);
}
.prev-model{
    /* margin-top: 20%; */
    width: 70%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    bottom: 40px;
}
.socialMediaContainer{
    height: max-content;
    width: 70%;
    /* border:solid red 1px; */
}


.center{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: solid 1px blue; */
}
.modelContainer{
    width: 100%;
    height: 80%;
    /* border: solid red 1px; */
    cursor: grab;
    /* margin-top: 40px; */
}
.right{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    gap: 10%;
    /* border: solid 1px blue; */
    position: relative;

}
video{
    margin-top: 150px;
    transition: all 0.5s ease-in-out;
}

.next-model, .programs, video{
    width: 70%;
}

.next-model{
    position: absolute;
    bottom: 40px;
}
.next-container-img{
    display: flex;
    float: right;
    gap: 5%;
}
.next-model>h3, .programs>h3{
    margin-bottom: 10px;
    text-align: right;
}
.next-model-description{
    margin-top: 5px;
}

.programs>h3{
    color: var(--black-color);
}
.programsContainer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.image{
    cursor: pointer;
    border-radius: 10px;
    max-width: 150px;
    max-height: 150px;
}
.showFullImage{
    width: 100%;
    height: 100%;
    z-index: 999;
}
.imageContainer{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.imageFullSize{
    width: fit-content;
    height: fit-content;
    max-width: 800px;
}

.close{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--white-color); 
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.close:hover{
    background-color: var(--black-color); 
    color: var(--white-color);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.programs-enter-active,
.programs-leave-active {
  transition: opacity 1s ease-in-out;
}

.programs-enter-from,
.programs-leave-to {
  opacity: 0;
}