  /*fonts*/
  @font-face {
    font-family: 'bold';
    src: url('./assets/fonts/RethinkSans-Bold.ttf') format('opentype');
  }
  @font-face {
    font-family: 'regular';
    src: url('./assets/fonts/RethinkSans-Regular.ttf') format('opentype');
  }
  

:root {
  --font-regular: 'regular';
  --font-bold: 'bold';
   font-family: var(--font-regular), var(--font-bold), Avenir, Helvetica, Arial, sans-serif; 
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --back-standard-color: #E0E3F2;
  --border-color: #fff;
  --text-color: #525252;
  --black-color: #000000;
  --white-color: #fff;
  --social-media-bg: #ECEFFF;
}

*{
  margin: 0px;
  padding: 0px;
}

/*font management*/
  .bold{
    font-family: var(--font-bold);
    }
  .regular{
    font-family: var( --font-regular);
    }
    .next-model-description{
      font-family: var( --font-regular);
      font-size: 0.8em;
      line-height: 1;
      color: var(--text-color);
      }
  h2{
    font-size: 1rem;
    font-family: var(--font-bold);
  }
  h3{
    font-size: 1.2rem;
    font-family: var(--font-bold);
  }
  h1 {
    font-size: 4em;
    font-family: var(--font-bold);
    line-height: 1.1;
  }
  h4 {
    font-size: 1.8em;
    font-family: var(--font-bold);
    line-height: 1.1;
  }

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body{
  /* display: flex;
  place-items: center; */
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.flex-v{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerContainer-v{
  display: flex;
  justify-content: center;
}
.centerContainer-h{
  display: flex;
  align-items: center;
}

.borderContainer{
  border-radius: 20px;
}

ul{
  width: 100%;
  list-style-type: none;
  justify-content: center;
  display: flex;
  gap: 8%;
}
.showFullImage{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #363636d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.card {
  padding: 0.5em;
  background: linear-gradient(to bottom right, var(--border-color), transparent);
  border: solid var(--white-color) 1px;
  border-radius: 15px;
  width: fit-content;
}

ul.social-list{
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap:3%;
}
.socialMedia{
  padding: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: var(--social-media-bg);
  transition: all 0.3s ease-in-out;
}

.socialMedia:hover{
  cursor: pointer;
  margin-top: -5px;
  background-color: var(--white-color);
}

.program{
  padding: 5px 10px;
  border: solid var(--black-color) 2px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

.program:hover{
  cursor: pointer;
  background-color: var(--black-color);
  color: var(--white-color);
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */