.navBarContainer{
    width: 480px;
    height: 60px;
    background-image: url(../img/navBar-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* border: solid blue 1px; */
}

li{
    cursor: pointer;
    display: flex;
    align-items: center;
}